
body {
/* her plasseres hovedteksten på en spesifik plass */
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: blue;
  background-color: #200772 }
ul.navbar {
/* her plasseres listen til linkene top left og width bestemmer posisjon */
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
  /* tekst type i headline 1 */
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
		/* fortsatt navigering som litt lengre oppe */
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
  /* farge på linkene */
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }